$colors: (
  primary: #005dff,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  secondary: #ffffff,
  backgr: rgb(255, 255, 255),
  accent: #ffff33
);

$padding: 15px;
$borders: 15px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 950px;
$desktopMiddle: 1350px;
$desktopBigger: 1400px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktopMiddle {
  @media (min-width: #{$desktopMiddle}) {
    @content;
  }
}

@mixin desktopBigger {
  @media (min-width: #{$desktopBigger}) {
    @content;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;

  #bg {
    clip-path: polygon(0 0, 100% 0, 100% 78%, 37% 100%, 0 100%);
    background-image: linear-gradient(
      to right bottom,
      #0000a1,
      #2c48fe,
      #2859ff,
      #4278ff,
      #608efa
    );
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    @include desktop {
      clip-path: polygon(0 0, 77% 0, 52% 100%, 0% 100%);
    }
  }

  header h3 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: $padding;
    display: block;
    border-block-end-style: groove;
    border-color: #e4d018;
    border-radius: 20px;
    border-right-style: groove;
    width: 210px;
    margin: 0 0 30px 5px;
    border-width: 5px;
  }
}

aside {
  display: none;
  position: relative;

  @include desktop {
    display: block;
  }
}

.map {
  opacity: 0;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;

  @include desktop {
    opacity: 0;
    position: absolute;
    z-index: 0;
    top: 5%;
    left: -16%;
  }

  @include desktopMiddle {
    opacity: 1;
    position: absolute;
    z-index: 0;
    top: 5%;
    left: -16%;
  }
}
